# Ejemplo de cuadrados medios

In [45]:
print("Escriba la semilla :")
semt=int(input())
Semilla=semt
print("Escriba digitos :")
semt2=int(input())
Digitos=semt2
print("Escriba las iteraciones :")
semt3=int(input())
interaciones=semt3
xn=[]
xn2=[]
longi=[]
Result=[]
Aleato=[]
for i in range(0,Digitos):
    nu=nu+"0"
for i in range(0,interaciones):
    semilla3=Semilla
    Semilla2=semilla3*semilla3
    palabra=str(Semilla2)
    longitud=len(palabra)
    para1=(int((longitud/2))-int((Digitos/2)))
    para2=(int((longitud/2))+int((Digitos/2)))
    Res=palabra[int(para1):int(para2)]
    aleatorio=float(Res)/float(nu)
    xn.append(semilla3)
    xn2.append(Semilla2)
    longi.append(longitud)
    Result.append(Res)
    Aleato.append(aleatorio)
    Semilla=int(Res)

Escriba la semilla :
8370
Escriba digitos :
4
Escriba las iteraciones :
10

# Tabla

In [46]:
from pandas import DataFrame
dict_listas = {'XN' : xn, 'XN*XN' : xn2,'LONGITUD' : longi,'UI' : Result,'RN' : Aleato,}
dataframe = DataFrame(dict_listas)
dataframe

     XN     XN*XN  LONGITUD    UI            RN
0  8370  70056900         8  0569  5.690000e-38
1   569    323761         6  2376  2.376000e-37
2  2376   5645376         7  6453  6.453000e-37
3  6453  41641209         8  6412  6.412000e-37
4  6412  41113744         8  1137  1.137000e-37
5  1137   1292769         7  2927  2.927000e-37
6  2927   8567329         7  5673  5.673000e-37
7  5673  32182929         8  1829  1.829000e-37
8  1829   3345241         7  3452  3.452000e-37
9  3452  11916304         8  9163  9.163000e-37